---
import Layout from '@/layouts/Layout.astro'

// clients.map(client => client.props)
const clients = [
  { 
    name: "GREEN INTERACTIVO", link: "https://www.greeninteractivo.com",
    logo: "/assets/greeninteractivo.svg",
    inlineStyle: "background-color: green;",
    description: "Green Interactivo es un estudio de dise帽o web con base en CABA.",
  },
  { 
    name: "YOES", link: "https://yoes.com.ar",
    logo: "/assets/png/yoes-logo.png",
    description: "Yoes es una pizzer铆a con sede en Trenque Lauquen.",
  },
]

// projects.map(project => project.props)
const projects = [
  {
    name: "AGROBIKES", link: "https://www.agrobikes.com.ar",
    imageUrl: "https://assets.fernandocandia.com.ar/20241230-01-agrobikes-600x291.webp",
    techIcons: [
      { assetPath: "/assets/docker.svg", name: "Docker" },
      { assetPath: "/assets/alpine-linux.svg", name: "Alpine Linux" },
      { assetPath: "/assets/ruby.svg", name: "Ruby" },
      { assetPath: "/assets/rails.svg", name: "Rails" },
      { assetPath: "/assets/react.svg", name: "React" },
      { assetPath: "/assets/nodejs.svg", name: "NodeJS" },
      { assetPath: "/assets/webpack.svg", name: "Webpack" },
      { assetPath: "/assets/bootstrap.svg", name: "Bootstrap" },
      { assetPath: "/assets/jquery.svg", name: "jQuery" },
      { assetPath: "/assets/sass.svg", name: "SASS" },
      { assetPath: "/assets/heroku.svg", name: "Heroku" },
      { assetPath: "/assets/postgresql.svg", name: "PostgreSQL" },
      { assetPath: "/assets/sendgrid.svg", name: "Sendgrid" },
      { assetPath: "/assets/aws-s3.svg", name: "AWS S3" },
    ],
    techDescription: "Ruby 2.6, Rails 6.0, nodejs v14.21, SSR monolith w/webpacker + React 16 - Bootstrap 4.5, jQuery, SASS - Heroku, images in AWS S3",
    tasks: [
      { date: "Septiembre 2021", description: "Agregado de links y React component" },
      { date: "Diciembre 2022", description: "Fix para Safari y media-querys - Tama帽os de logos en home" },
      { date: "Marzo 2023", description: "Link Defensa Consumidor - Resizeo de imgs desde el admin panel - Fix al :hover active selector" },
      { date: "Ago-Sep 2023", description: "Fix RRHH form desde panel Sendgrid" },
      { date: "Junio 2024", description: "3 WhatsApp Icons" },
      { date: "Agosto 2024", description: "Fix Instagram URL, WhatsApp Responsive Menu" },
      { date: "Octubre 2024", description: "heroku pg:backups:download and Schedule" },
      { date: "Noviembre 2024", description: "Inactivas 404, /compania images" },
      { date: "Diciembre 2024", description: "*Tecnom implementation" },
    ],
  },
  {
    name: "DELSURLEATHER", link: "https://www.delsurleather.com",
    imageUrl: "https://assets.fernandocandia.com.ar/20241230-02-delsurleather-600x291.webp",
    techIcons: [
      { assetPath: "/assets/ruby.svg", name: "Ruby" },
      { assetPath: "/assets/rails.svg", name: "Rails" },
      { assetPath: "/assets/nodejs.svg", name: "NodeJS" },
      { assetPath: "/assets/webpack.svg", name: "Webpack" },
      { assetPath: "/assets/jquery.svg", name: "jQuery" },
      { assetPath: "/assets/heroku.svg", name: "Heroku" },
      { assetPath: "/assets/postgresql.svg", name: "PostgreSQL" },
      { assetPath: "/assets/sendgrid.svg", name: "Sendgrid" },
      { assetPath: "/assets/aws-s3.svg", name: "AWS S3" },
      { assetPath: "/assets/alibaba-cloud.svg", name: "Alibaba Cloud" },
      { assetPath: "/assets/ubuntu.svg", name: "Ubuntu 22.04" },
      { assetPath: "/assets/bash.svg", name: "Bash" },
      { assetPath: "/assets/docker.svg", name: "Docker" },
      { assetPath: "/assets/png/dokku.png", name: "Dokku" },
      { assetPath: "/assets/google-search-console.svg", name: "Google Search Console" },
    ],
    techDescription: "Ruby 2.7, Rails 6.1, nodejs v18.20 SSR monolith w/webpacker - jQuery, popper.js - 吼葛 Heroku, images in AWS S3,  Alibaba Cloud: Dokku PaaS in Ubuntu 22.04",
    tasks: [
      { date: "Oct-Nov 2021", description: "Asistencia en instalaci贸n en Alibaba Cloud" },
      { date: "Diciembre 2022", description: "Diagn贸stico del problema de indexaci贸n de Google" },
      { date: "Marzo 2023", description: "Instalaci贸n de certificados SSL" },
      { date: "Mayo 2023", description: "CVE security fix y update system, Docker y Dokku" },
      { date: "Agosto 2023", description: "Link ICP y dokku ps:scale web=1" },
      { date: "Enero 2024", description: "Fix: subieron video en vez de imagen" },
      { date: "Mayo 2024", description: "Actualizaci贸n certificado SSL" },
      { date: "Octubre 2024", description: "Limpieza docker, dokku, repo" },
      { date: "Noviembre 2024", description: "scp del .git y DB back" },
    ],
    infoExtra: "隆10 a 200 clicks en 2023! ",
    imgExtra: [
      "https://assets.fernandocandia.com.ar/20241231-01-delsurleather_indexacion_clicks-edited.webp",
      "https://assets.fernandocandia.com.ar/20241231-02-delsurleather_indexacion_clicks-edited.webp",
    ]
  },
  {
    name: "SUZUKI AGRONOMIA", link: "https://www.suzukiagronomia.com.ar",
    imageUrl: "https://assets.fernandocandia.com.ar/20241230-03-suzukiagronomia-600x286.webp",
    techIcons: [
      { assetPath: "/assets/docker.svg", name: "Docker" },
      { assetPath: "/assets/alpine-linux.svg", name: "Alpine Linux" },
      { assetPath: "/assets/ruby.svg", name: "Ruby" },
      { assetPath: "/assets/rails.svg", name: "Rails" },
      { assetPath: "/assets/react.svg", name: "React" },
      { assetPath: "/assets/nodejs.svg", name: "NodeJS" },
      { assetPath: "/assets/bootstrap.svg", name: "Bootstrap" },
      { assetPath: "/assets/jquery.svg", name: "jQuery" },
      { assetPath: "/assets/sass.svg", name: "SASS" },
      { assetPath: "/assets/heroku.svg", name: "Heroku" },
      { assetPath: "/assets/postgresql.svg", name: "PostgreSQL" },
      { assetPath: "/assets/sendgrid.svg", name: "Sendgrid" },
      { assetPath: "/assets/aws-s3.svg", name: "AWS S3" },
    ],
    techDescription: "Ruby 2.6, Rails 6.0, nodejs v14.21, SSR monolith w/webpacker + React 16 - Bootstrap 4.5, jQuery, SASS - Heroku, images in AWS S3",
    tasks: [
      { date: "Nov-Dic 2021", description: "Despliegue de proyecto en Heroku" },
      { date: "Diciembre 2022", description: "Fix para Safari y media-querys - Tama帽os de logos en home" },
      { date: "Mar-Abr 2023", description: "Ajustes a la galer铆a de imgs en la home - Fix de selector de colores de la moto" },
      { date: "Agosto 2024", description: "Foto de moto responsive" },
    ],
  },
  {
    name: "RESIDENCIA ROMA (DISCONTINUADO)", link: "https://www.instagram.com/residencia_roma/?hl=es-la",
    imageUrl: "https://assets.fernandocandia.com.ar/residencia-roma.jpg",
    techIcons: [
      { assetPath: "/assets/ruby.svg", name: "Ruby" },
      { assetPath: "/assets/rails.svg", name: "Rails" },
      { assetPath: "/assets/gmaps.svg", name: "Google Maps" },
      { assetPath: "/assets/heroku.svg", name: "Heroku" },
      { assetPath: "/assets/postgresql.svg", name: "PostgreSQL" },
      { assetPath: "/assets/sendgrid.svg", name: "Sendgrid" },
      { assetPath: "/assets/aws-s3.svg", name: "AWS S3" },
    ],
    techDescription: "Ruby 2.4, Rails 5.2 monolith - Heroku, images in AWS S3",
    tasks: [
      { date: "Ago 2022", description: "Correcci贸n de links a imgs rotas" },
    ],
  },
  {
    name: "XP SACABOLLOS", link: "https://www.xpsacabollos.com.ar",
    imageUrl: "https://assets.fernandocandia.com.ar/20241230-06-xpsacabollos-600x291.webp",
    techIcons: [
      { assetPath: "/assets/ruby.svg", name: "Ruby" },
      { assetPath: "/assets/rails.svg", name: "Rails" },
      { assetPath: "/assets/gmaps.svg", name: "Google Maps" },
      { assetPath: "/assets/heroku.svg", name: "Heroku" },
      { assetPath: "/assets/postgresql.svg", name: "PostgreSQL" },
      { assetPath: "/assets/sendgrid.svg", name: "Sendgrid" },
      { assetPath: "/assets/aws-s3.svg", name: "AWS S3" },
    ], 
    techDescription: "Ruby 2.4, Rails 5.2 monolith - Heroku, images in AWS S3",
    tasks: [
      { date: "Ene-Mar-Abr 2023", description: "Ajustes visuales en la homepage" },
      { date: "Septiembre 2024", description: "/trabajos image nil" },
    ],
  },
  {
    name: "SCOMBRO", link: "https://scombro.com.ar",
    imageUrl: "https://assets.fernandocandia.com.ar/20241230-04-scombro-600x291.webp",
    techIcons: [
      { assetPath: "/assets/wordpress.svg", name: "Wordpress" },
      { assetPath: "/assets/woocommerce.svg", name: "WooCommerce" },
      { assetPath: "/assets/gcp.svg", name: "Google Cloud Platform" },
    ],
    techDescription: "(Antes Wordpress+WooCommerce en Siteground) Instancia de TiendaNube",
    tasks: [
      { date: "Ago-Sep 2023", description: "Consultor铆a sobre migraci贸n de hosting de Siteground a GCP" },
    ],
  },
  {
    name: "GREEN INTERACTIVO", link: "https://www.greeninteractivo.com",
    imageUrl: "https://assets.fernandocandia.com.ar/20241230-05-greeninteractivo-600x286.webp",
    techIcons: [
      { assetPath: "/assets/ruby.svg", name: "Ruby" },
      { assetPath: "/assets/rails.svg", name: "Rails" },
      { assetPath: "/assets/heroku.svg", name: "Heroku" },
      { assetPath: "/assets/postgresql.svg", name: "PostgreSQL" },
      { assetPath: "/assets/sendgrid.svg", name: "Sendgrid" },
      { assetPath: "/assets/aws-s3.svg", name: "AWS S3" },
    ], 
    techDescription: "Ruby 2.4, Rails 5.2 monolith - jQuery - Heroku, images in AWS S3",
    tasks: [
      { date: "Septiembre 2023", description: "Diagn贸stico y correcci贸n de error en env铆o de formularios" },
    ],
  },
  {
    name: "VACAY LUXE RENTALS", link: "https://www.vacayluxerentals.com",
    imageUrl: "https://assets.fernandocandia.com.ar/20241230-08-vacayluxerentals-600x291.webp",
    techIcons: [
      { assetPath: "/assets/php.svg", name: "PHP" },
      { assetPath: "/assets/mariadb.svg", name: "MariaDB" },  
      { assetPath: "/assets/wordpress.svg", name: "Wordpress" },
      { assetPath: "/assets/woocommerce.svg", name: "WooCommerce" },
      { assetPath: "/assets/gcp.svg", name: "Google Cloud Platform" },
      { assetPath: "/assets/gce.svg", name: "Google Cloud Engine" },
      { assetPath: "/assets/bitnami.svg", name: "Bitnami" },
      { assetPath: "/assets/debian.svg", name: "Debian 12" },
    ],
    techDescription: "Wordpress+WooCommerce en un server de Google Cloud",
    tasks: [
      { date: "Diciembre 2023", description: "Consultor铆a sobre consumo de recursos" },
      { date: "Ene 2024", description: "php memory.conf" },
    ],
  },
  {
    name: "ID SPORTS", link: "https://www.idsports.com.ar",
    imageUrl: "https://assets.fernandocandia.com.ar/20241230-07-idsports-600x291.webp",
    techIcons: [
      { assetPath: "/assets/php.svg", name: "PHP" },
      { assetPath: "/assets/mariadb.svg", name: "MariaDB" },  
      { assetPath: "/assets/wordpress.svg", name: "Wordpress" },
      { assetPath: "/assets/woocommerce.svg", name: "WooCommerce" },
      { assetPath: "/assets/gcp.svg", name: "Google Cloud Platform" },
      { assetPath: "/assets/gce.svg", name: "Google Cloud Engine" },
      { assetPath: "/assets/bitnami.svg", name: "Bitnami" },
      { assetPath: "/assets/debian.svg", name: "Debian 12" },
    ],
    techDescription: "Wordpress+WooCommerce en un server de Google Cloud",
    tasks: [
      { date: "Diciembre 2023", description: "Consultor铆a sobre consumo de recursos" },
      { date: "Marzo 2024", description: "Backup DB, repo" },
      { date: "Abril 2024", description: "WooCommerce price tables, Backup DR, resizear partici贸n" },
      { date: "Mayo 2024", description: "GCP AutoSnapshots disco duro" },
      { date: "Jun 2024", description: "Bajar los php-fpm spawns" },
    ],
  },
  {
    name: "YOES", link: "https://yoes.com.ar",
    imageUrl: "https://assets.fernandocandia.com.ar/20241231-09-yoes-600x291.webp",
    techIcons: [
      { assetPath: "/assets/preact.svg", name: "Preact" },
      { assetPath: "/assets/netlify.svg", name: "Netlify" },
    ],
    techDescription: "Preact SPA en Netlify",
    tasks: [
      { date: "Ago-Sep 2024", description: "Creaci贸n del website" },
    ],
  },
]
---
<style is:global>
/* Media queries with tag.class override (to not use !important) 1掳 */
@media (max-width: 449px) {
  ul.clients-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  li.client-list-item {
    width: unset;
    height: unset;
  }
}

@media (min-width: 450px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}

.project-list-item {
  background-color: white;
}

.clients-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.client-list-item {
  width: 300px;
  height: 250px;
  /* padding: 6px 12px; */
}

/* Other names: .client-props */
.client-content {
  background-color: white;
  padding: 6px 12px;
  height: calc(100% - (6px * 2));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
  outline: 1px solid rgba(150,150,150,0.7);
  box-shadow: 6px 6px 6px rgb(0 0 0 / 35%);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;

  p {
    font-size: small;
  }
}

.client-content:hover {
  transform: scale(1.05);
}

.img-container {
  /* width: 100%; */
  max-width: 100%;
  /* height: 100px; */
  /* max-height: 110px; */
  display: flex;

  img {
    width: 100%;
    /* max-width: 100%; */
    /* height: 100%; */
    /* max-height: 100%; */
  }
}

.name-link-row {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  /* width: 1200px; */
  width: 100%;
  margin-inline: auto;
}

.project-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 578px; */
  /* width: 558px; */
  width: 538px;
  height: 281px;
  overflow: hidden;
  border-radius: 8px;
  position: relative; /* Important for overlay positioning */
  box-shadow: 6px 6px 6px rgb(0 0 0 / 35%);
  outline: 1px solid rgba(180,180,180, 0.6);
  transition: all 0.3s ease-in-out;
}
.project-list-item:hover {
  transform: scale(1.04);
}
.project-list-item:hover .project-img {
  transform: scale(1.05);
}

.project-img {
  /* width: 100%; */
  transition: all 0.4s ease-in-out;
  z-index: 1;
  position: relative;
  min-height: 100%;
  /* object-fit: contain; */
}

/* The overlay is initially hidden */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85); /* Black background with transparency */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Hide the overlay by default */
  transition: opacity 0.3s ease-in-out;
  z-index: 2; /* Ensure overlay is above the image when visible */
}

/* Show the overlay on .project-list-item hover */
.project-list-item:hover .overlay {
  opacity: 1;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.name-and-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.project-name {
  margin-bottom: unset;
}

.project-link {
  color: white;
  /* font-weight: bold; */
  font-size: medium;
}

.extra-info {
  margin: 0 0 0 auto;
  font-size: small;
}

.links-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.tech-icons-row {
  display: flex;
  column-gap: 5px;
  margin-top: unset;
}

.tech-description {
  font-size: small;
  margin-top: 10px;
}

.project-tasks-list {
  margin: unset;
}

.date-task-description-row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  font-size: x-small;
}

.date-col {
  width: 100px;
  text-align: center;
  font-style: italic;
}
</style>

<Layout title="Work | Fer Candia">
  <section>
    <h1> Work Experience</h1>
    <p>I did work as a freelance full-stack developer for these clients:</p>

    <ul class="clients-list">
      { clients.map(client => (
        <li class="client-list-item">
          <div class="client-content">
            <div class="name-link-row">
              <h4>{client.name}</h4>

              <a href={client.link} class="project-link" target="_blank">
                锔
              </a>
            </div>

            <div class="img-container">
              <img src={client.logo} title={client.name} alt={client.name} style={client.inlineStyle} />
            </div>

            <p>{client.description}</p>

            <div>
              <strong>Pedir referencia:</strong>
              <span>Mail</span>
              <span>Wsp</span>
            </div>
          </div>
        </li>
      )) }
    </ul>

    <p>Making contributions to these projects:</p>

    <!-- Media queries: Mobile 1 col, Desktop 2 cols -->
    <ul class="projects-list">
      { projects.map(project => (
        <li class="project-list-item">
          <img src={project.imageUrl} alt={`${project.name}`} class="project-img">

          <div class="overlay">
            <div class="overlay-content">
              <div class="name-and-link">
                <h1 class="project-name">{project.name}</h1>

                <a href={project.link} class="project-link" target="_blank">
                  锔
                </a>
              </div>

              { project.infoExtra && project.imgExtra?.length > 0 && (
                <div class="extra-info">
                  <p>{project.infoExtra}</p>

                  <div class="links-wrapper">
                    { project.imgExtra.map((img, index) => (
                      <a href={img} target="_blank">
                        Img {index + 1}
                      </a>
                    )) }
                  </div>
                </div>
              ) }

              { project.techIcons && project.techIcons.length > 0 && (
                <div class="tech-icons-row">
                  { project.techIcons.map(icon =>
                    <img src={icon.assetPath} alt={icon.name}
                      width="25" height="25"
                      title={icon.name}
                    >
                  )}
                </div>
              ) }

              {/*
              <p class="tech-description">{project.techDescription}</p>
              */}

              <ul class="project-tasks-list">
                { project.tasks.map(task => (
                  <li class="date-task-description-row">
                    <p class="date-col">{task.date}</p>
                    <p class="task-description-col">{task.description}</p>
                  </li>
                )) }
              </ul>
            </div>
          </div>
        </li>
      )) }
    </ul>

  </section>
</Layout>
